.container-mini {
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.438);
    padding: 50px;
}
.left-container {
    width: 60%;
}
.left-container p {
    text-align: justify;
    margin-bottom: 30px;
}
.left-container span {
    font-weight: bolder;
    font-size: 16px;
}
.action-button-container a {
    text-decoration: none;
}
.contact-button {
    margin-right: 20px;
}
.contact-button button {
    border: none;
    background: rgb(0, 0, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.contact-button button:hover {
    background: rgba(153, 149, 149, 0.904);;
}
.download-cv-button button {
    border: none;
    background: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 16px;
}
.download-cv-button:hover button {
    color: rgba(153, 149, 149, 0.904);
}
.download-cv-button button i {
    margin-left: 5px;
    color: rgb(0, 0, 0);
}
.download-cv-button:hover button i {
    color: rgba(153, 149, 149, 0.904);
}
.social-media-container {
    margin: 30px 0 0 0;
}
.social-media-container a {
    text-decoration: none;
}
.social-media-container a button {
    font-size: 30px;
    background: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 30px;
    margin-right: 20px;
}
.social-media-container a button:hover {
    background: rgba(153, 149, 149, 0.904);
}
.social-media-container a button i {
    color: rgb(0, 0, 0);
}
.profile {
    margin-top: -70px;
    height: 465px;
    width: 35%;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(29,29,29,0.25);
}
.profile img {
    height: 380px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.profile div {
    padding: 10px 0;
}
.profile div h2 {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}
.profile div p {
    margin: -10px;
    text-align: center;
}